.project
.idea
target

*.com
*.class
*.dll
*.exe
*.o
*.so
*.iml

logs
project/project
project/target
target
tmp
output
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/project/*-shim.sbt
*.class
src/main/scala/Global.scala
Global.scala
examples/expr.xml
examples/answer.*
examples/.*
logs